<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>readab.ly</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/standardize.css">
  <link rel="stylesheet" href="static/index-grid.css">
  <link rel="stylesheet" href="static/index.css">
</head>
<body class="body index clearfix">
   <img class="image image-1" src="static/images/checked.png">
  <img class="image image-2" src="static/images/suggest.png">
  <img class="image image-3" src="static/images/analyse.png">
  <p class="text text-1">Hoe leesbaar is je tekst? Met een druk op de knop analyseert Readab.ly het voor je.</p>
  <p class="text text-2">Readab.ly geeft je daarnaast suggesties om je tekst leesbaarder te maken.</p>
  <img class="image image-4" src="static/images/readably(4).png">
  <img class="image image-5" src="static/images/checked.png">
  <div class="text text-3">
    <p>Perscheck komt tot stand in samenwerking met Fontys Hogeschool, ANP en Tilburg University.    <p><br></p>
    <p>Vragen? Suggesties? Inlichtingen? <a href="mailto:sander@readab.ly">sander@readab.ly</a></p>
</div>
  <img class="image image-6" src="static/images/logo_fontys_935708b.gif">
  <img class="image image-7" src="static/images/ANP_logo_0.png">
  <img class="image image-8" src="static/images/imgres.jpg">
</body>
</html>